[submodule "submodules/plugins/vibe-plugins"]
	path = submodules/plugins/vibe-plugins
	url = https://github.com/eastlondoner/vibe-plugins.git
[submodule "hex"]
	path = hex
	url = https://github.com/eastlondoner/Hex.git
[submodule "personaplex-mlx"]
	path = personaplex-mlx
	url = https://github.com/eastlondoner/personaplex-mlx.git
